body {
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;
}

h2 {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
}

h3 {
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
}

h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

.background_blur {
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(41, 41, 41, 0.6);
    ;
}

.no-scroll {
    overflow-y: hidden;
}

/* HEADER*/

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 0px;
    margin-bottom: 0;
}

.logo h1 {
    font-family: 'Georgia';
    color: #545454;
    margin: 0;
}

.logo h2 {
    font-family: 'Arial';
    color: #292929;
    margin-top: 10px;
    margin-left: 3px;
}

.header_nav {
    padding-top: 15px;
}

.header_nav a {
    font-family: 'Arial';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #545454;
}

.header_nav a:not(:nth-child(2)) {
    padding-left: 32px;
}

.header_nav a:first-child {
    padding-right: 32px;
}

.active_link {
    border-bottom: 3px solid #f1cdb3;
}


.burger {
    display: none;
}

.burger_logo {
    display: block;
    position: fixed;
    top: 30px;
    right: -310px;
    width: 310px;
    z-index: 2;
    transition: transform .5s, visibility .5s;
    will-change: transform;
    color: #F1CDB3;
}

.burger_logo h1 {
    color: #F1CDB3;
}

.burger_logo h2 {
    text-align: left;
    color: #F1CDB3;

}

.header.open .burger_logo {
    transform: translateX(-100%);
    visibility: visible;
}



/*OUR_PETS*/

.pets {
    background-color: #F6F6F6;
    margin-top: 20px;
    padding-bottom: 99px;
}

.pets .container {
    background-color: #FFFFFF;
    text-align: center;
}


.pets h3 {
    font-family: 'Georgia';
    color: #545454;
    margin-top: 0;
    padding-top: 80px;
    padding-bottom: 24px;
}


.cards_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 27px 40px;
    margin-bottom: 60px;
}


.card {
    min-width: 270px;
    background: #FAFAFA;
    border-radius: 9px;
}

.card:hover {
    background: #FFFFFF;
    cursor: pointer;

}

.card:hover>button {
    background-color: #fddcc4;
    cursor: pointer;
    border: 2px solid #fddcc4;
}

.card button {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    background: #FFFFFF;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
    padding: 15px 45px;
    margin-bottom: 30px;
}

.card button:hover {
    background-color: #fddcc4;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.card button:active {
    background: #292929;
    transition: all 0.2s ease-out;
}

.card h4 {
    font-family: 'Georgia';
    color: #545454;
}

.navigation {
    margin: 0 auto;
    width: 340px;
    height: 52px;
    display: flex;
    justify-content: space-between;
}

.button_paginator {
    border: 2px solid #F1CDB3;
    color: #292929;
    border-radius: 100px;
    background-color: #FFFFFF;
    width: 52px;
    height: 52px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.button_paginator:disabled {
    border: 2px solid #cdcdcd;
    color: #cdcdcd;
}

.button_paginator:hover:not(:disabled, .number_page) {
    cursor: pointer;
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.number_page {
    background: #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    border: 1px solid #F1CDB3;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #292929;
}


/*FOOTER*/

.footer {
    background-image: url("../../assets/img/footer-background.svg");
    background-size: cover;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 41px;
}

.footer h3 {
    font-family: 'Georgia';
    color: #FFFFFF;
}

.footer_container:first-child h3 {
    padding-top: 20px;
    margin-bottom: 20px;
    width: 279px;
}

.footer_container:first-child h4 {
    margin-bottom: 22px;
}

.footer_column_position h4 {
    margin: 0;
    padding: 0;
    padding-top: 13px;
}


.footer_img {
    align-self: end;
    width: 300px;
    height: 310px;
    position: relative;
    bottom: -40px;
}

.footer h4 {
    font-family: 'Georgia';
    color: #F1CDB3;
    padding-left: 20px;
}

.footer_info {
    display: flex;
    text-decoration: none;
}

/*POPUP*/

.popup {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    background: rgba(41, 41, 41, 0.6);
    z-index: 20;
    position: fixed;
    left: 0;
    top: 0;
    transition: opacity 0.4s, visibility 0.4s;
}


.popup.open {
    visibility: visible;
    opacity: 1;
}

.modal_window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 952px;
    height: 552px;
    margin: -276px 0 0 -450px;
    text-align: right;
    transform: scale(0);
    transition: transform 0.8s;
    display: flex;
    flex-direction: column-reverse;
}

.popup.open .modal_window {
    transform: scale(1);
}

.button_close {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    background-color: rgba(28, 28, 28, 0);
    margin-right: 10px;
    align-self: flex-end;
}

.button_close:hover {
    background-color: #F1CDB3;
    cursor: pointer;
}

.modal_card {
    width: 900px;
    height: 500px;
    display: flex;
    background: #FAFAFA;
    border-radius: 9px;
    text-align: left;
    overflow-y: scroll;

}

.modal_card:not(:hover)~.button_close {
    background-color: #F1CDB3;
}

.img_pet {
    width: 500px;
    height: 500px;
    border-radius: 9px;
}

.content {
    font-family: 'Georgia';
    font-weight: 400;
    font-style: normal;
    padding-left: 30px;
    padding-right: 20px;
}

.pet_name {
    font-size: 35px;
    line-height: 130%;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
    letter-spacing: 0.06em;
}

.pet_breed {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    line-height: 115%;
    margin-top: 10px;
    margin-bottom: 40px;
}

.pet_description {
    font-size: 15px;
    line-height: 115%;
    letter-spacing: 0.06em;
}

.pet_list {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

.pet_list div {
    display: flex;
}

.pet_list img {
    height: 4px;
    width: 4px;
    padding-right: 10px;
    padding-top: 5px;

}

.pet_list h5 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    padding: 0px 5px 11px 0px;
    margin: 0;
}

.pet_list p {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
    padding: 0px 0px 11px 0;
    margin: 0;
}

/*768px*/

@media (min-width: 768px) and (max-width: 1279px) {

    .container {
        width: 92%;
    }


    /* HEADER*/

    .header {
        padding-top: 33px;
    }

    /*OUR_PETS*/

    .pets {
        margin-top: 20px;
        padding-bottom: 76px;
    }

    .pets h3 {
        padding-bottom: 0px;
        margin-bottom: 27px;
    }

    .cards_container {
        grid-template-columns: 1fr 1fr;
        max-width: 580px;
        margin: 0 auto;
        margin-bottom: 38px;
        gap: 29px 40px;

    }


    /*FOOTER*/
    .footer_container {
        display: grid;
        grid-template-columns: 0.96fr 1.04fr;
        padding-bottom: 46px;
        grid-template-areas:
            "column1 column2"
            "img img";
    }

    .footer:first-child div {
        grid-area: column1;
    }

    .footer_column_position {
        grid-area: column2;
    }

    .footer_img {
        grid-area: img;
        padding-left: 170px;
        bottom: -46px;
    }

    .footer_container:first-child {
        padding-left: 65px;
    }

    .footer_container:first-child h3 {
        padding-top: 0px;
        margin-top: 30px;
        margin-bottom: 18px;
        width: 279px;
    }

    /*POPUP*/

    .modal_window {
        width: 682px;
        height: 402px;
        margin: -201px 0 0 -315px;
    }

    .modal_card {
        width: 630px;
        height: 350px;
        overflow-y: scroll;
    }

    .img_pet {
        width: 350px;
        height: 350px;
    }

    .content {
        width: 260px;
        padding-left: 10px;
        padding-right: 9px;
    }

    .pet_name {
        margin-top: 12px;
        margin-bottom: 8px;
    }

    .pet_breed {
        margin-top: 8px;
        margin-bottom: 22px;
    }

    .pet_description {
        font-size: 13px;
        line-height: 107%;
    }

    .pet_list {
        width: 260px;
        padding-top: 8px;
        display: inline;
    }

    .pet_list h5 {
        padding: 0px 5px 6px 0px;
        display: inline;
    }

    .pet_list p {
        padding: 0px 0px 6px 0;
        display: inline;
    }

    #pet_inoculations {
        width: 126px;
    }
}

/*320px*/

@media (max-width: 767px) {

    .container {
        min-width: 300px;
    }

    /* HEADER*/

    .nav_menu {
        display: none;
    }

    .burger {
        display: block;
        padding-top: 18px;
        padding-right: 45px;

    }

    .header {
        padding-top: 32px;
        margin-left: 10px;
        width: 90%;
    }

    /*BURGER*/
    /* 
    .burger{
        display: block;
        margin-top: 0px;
        margin-right: 40px;
        background-color: transparent;
        border: none;
        z-index: 2;
        cursor: pointer;
        padding: 0;
        transition: all 0.3s linear;
    }

    .header.open .burger{
        rotate: 90deg;
    }

    .nav_menu {
        position: absolute;
        top: 0;
        right: -320px;
        width: 320px;
        height: 823px;
        display: flex;
        flex-direction: column;
        background: #292929;
        text-align: center;
        padding-top: 210px;
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;

        /*right: -350px;
        top: 0;
        width: 350px;
        padding: 75px 20px 20px 20px;
       
        visibility: hidden;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }


    .nav_menu a{
        font-size: 32px;
        padding:0;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 0px;
    }
    /*.menu__list {
        display: block;
    }
    .menu__item:not(:last-child) {
        margin-right: 0;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px;
    }
    
    .header.open .nav_menu {
        transform: translateX(-100%);
        visibility: visible;
    }

    .active_link{
        width: 243px;
        margin-left: 50px;
    }
 */

    /*BURGER*/

    .burger {
        display: block;
        margin-top: 0px;
        margin-right: 63px;
        background-color: transparent;
        border: none;
        z-index: 2;
        cursor: pointer;
        padding: 0;
        transition: all 0.3s linear;
    }

    .header.open .burger {
        transform: rotate(90deg);
    }

    .header_nav {
        position: fixed;
        top: 0;
        right: -320px;
        width: 320px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: #292929;
        padding-top: 0px;
        padding-left: 0px;
        transition: transform .5s, visibility .5s;
        will-change: transform;
        padding-top: 210px;
    }

    .header_nav a {
        font-size: 32px;
        padding: 0;
        padding-top: 39px;
        line-height: 160%;
        color: #CDCDCD;

    }

    .header_nav a:not(:first-child) {
        padding-left: 0px;
    }

    .burger_logo {
        display: block;
        position: fixed;
        top: 30px;
        right: -310px;
        width: 310px;
        z-index: 2;
        transition: transform .5s, visibility .5s;
        will-change: transform;
    }

    .burger_logo h2 {
        text-align: left;
    }

    .header.open .burger_logo {
        transform: translateX(-100%);
        visibility: visible;
    }

    .header.open .header_nav {
        transform: translateX(-100%);
        visibility: visible;
    }

    .active_link {
        width: 243px;
        margin-left: 38px;
    }

    .active {
        display: block;
    }


    /*OUR_PETS*/

    .pets {
        margin-top: 18px;
        padding-bottom: 42px;
    }

    .pets .container {
        max-width: 320px;
        background: #F6F6F6;
    }

    .pets h3 {
        font-size: 25px;
        line-height: 130%;
        letter-spacing: 0.06em;
        padding-top: 42px;
        padding-bottom: 0px;
        margin-bottom: 40px;
    }

    .cards_container {
        grid-template-columns: 1fr;
        max-width: 580px;
        margin: 0 auto;
        margin-bottom: 40px;

    }

    .navigation {
        width: 300px;
    }

    /*FOOTER*/


    .footer_container {
        display: grid;
        grid-template-columns: 1fr;
        padding-bottom: 25px;
        width: 300px;
        padding-top: 5px;
    }

    .footer_container h3 {
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 21px;
    }

    .footer_container:first-child h3 {
        padding-top: 5px;
        margin-bottom: 18px;
        padding-left: 10px;
    }

    .footer_info {
        padding-left: 25px;
        padding-bottom: 1px;
    }


    .footer_column_position h3 {
        width: 270px;
        margin: 13px 0px;
    }

    .footer_column_position .footer_info {
        padding-left: 0px;
        padding-top: 7px;
    }

    .footer_img {
        width: 260px;
        height: 269px;
        bottom: -25px;
        padding-left: 20px;

    }

    /*
    .footer_container{
        display: grid;
        grid-template-columns: 1fr; 
        padding-bottom: 26px;
    }

    .footer_container h3{
        font-size: 25px;
        text-align: center;
        letter-spacing: 0.06em;
        margin-top: 10px;

    }

    .footer_info{
        padding-left: 25px;
    }

    .footer_column_position h3{ 
        width: 270px;
        margin: 14px auto;
    }

    .footer_column_position .footer_info{
        padding-left: 0px;
        padding-top: 6px;
    }


    /*.footer_container:first-child h3{
        padding-top: 5px;
        margin-bottom: 18px;
        padding-left: 10px;
    }*/

    /* .footer_info{
        padding-left: 25px;
        padding-bottom: 1px;
    }

    .footer_column_position h3{ 
        width: 270px;
        margin: 14px auto;
    }

    .footer_column_position .footer_info{
        padding-left: 0px;
        padding-top: 6px;
    }

    .footer_img{
        width: 260px;
        height: 269px;
        bottom: -26px;
        padding-left: 20px;

    }*/


    /*POPUP*/

    .modal_window {
        width: 270px;
        height: 393px;
        margin: -196px 0 0 -120px;
    }

    .modal_card {
        width: 240px;
        height: 341px;
    }

    .button_close {
        margin-right: 0px;
    }

    .img_pet {
        display: none;
    }

    .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pet_name {
        width: 220px;
        margin-top: 10px;
        margin-bottom: 9px;
        text-align: center;
    }

    .pet_breed {
        width: 220px;
        margin-top: 9px;
        margin-bottom: 20px;
        text-align: center;
    }

    .pet_description {
        width: 220px;
        font-size: 13px;
        line-height: 110%;
    }

    .pet_list {
        padding-top: 10px;
    }

    .pet_list div {
        display: inline-block;
    }

    .pet_list h5 {
        padding: 0px 5px 6px 0px;
        display: inline;
    }

    .pet_list p {
        padding: 0px 0px 6px 0;
        display: inline-block;
    }

}